*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

 /* Titolo con paragrafo  */

 .titolo{
    padding: 45px 0 65px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #e53170;
 }

 .testo{
    font-family: 'Mulish', sans-serif;
 }
 
/* Box */

.container{
    padding-top: 50px;
    width: calc(100% * 3 - 33px);

}

.container::after{
    content: '';
    display: block;
    clear: both;
}

img, .box{
    height: 100px;
    float: left;

}

.box{
    background-color: black;
    width: 350px;
    text-align: left;
    margin: 0 33px 45px 33px;
}

/* Font */
.name{
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 16px 0 8px 110px;
    font-size: 15px;
}

.profession{
    font-family: 'Mulish', sans-serif;
    color: white;
    padding: 0 0 9px 110px;
    font-size: 13px;
}

a[href]{
    color: #57c9f2;
    text-decoration: none;
    font-size: 15px;
    padding: 0 0 15px 10px;
}